<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Resources/Fonts/CormorantGaramond/CormorantGaramond-Light.ttf</string>
		<string>Resources/Fonts/CormorantGaramond/CormorantGaramond-Regular.ttf</string>
		<string>Resources/Fonts/CormorantGaramond/CormorantGaramond-Medium.ttf</string>
		<string>Resources/Fonts/CormorantGaramond/CormorantGaramond-SemiBold.ttf</string>
		<string>Resources/Fonts/CormorantGaramond/CormorantGaramond-Bold.ttf</string>
		<string>Resources/Fonts/Raleway/Raleway-Thin.ttf</string>
		<string>Resources/Fonts/Raleway/Raleway-ExtraLight.ttf</string>
		<string>Resources/Fonts/Raleway/Raleway-Light.ttf</string>
		<string>Resources/Fonts/Raleway/Raleway-Regular.ttf</string>
		<string>Resources/Fonts/Raleway/Raleway-Medium.ttf</string>
		<string>Resources/Fonts/Raleway/Raleway-SemiBold.ttf</string>
		<string>Resources/Fonts/Raleway/Raleway-Bold.ttf</string>
		<string>Resources/Fonts/Raleway/Raleway-ExtraBold.ttf</string>
		<string>Resources/Fonts/Raleway/Raleway-Black.ttf</string>
	</array>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<string>NO</string>
	<key>BaseURL</key>
	<string>$(BASE_URL)</string>
</dict>
</plist>
