<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>CormorantGaramond-Light.ttf</string>
		<string>CormorantGaramond-Regular.ttf</string>
		<string>CormorantGaramond-Medium.ttf</string>
		<string>CormorantGaramond-SemiBold.ttf</string>
		<string>CormorantGaramond-Bold.ttf</string>
		<string>Raleway-Thin.ttf</string>
		<string>Raleway-ExtraLight.ttf</string>
		<string>Raleway-Light.ttf</string>
		<string>Raleway-Regular.ttf</string>
		<string>Raleway-Medium.ttf</string>
		<string>Raleway-SemiBold.ttf</string>
		<string>Raleway-Bold.ttf</string>
		<string>Raleway-ExtraBold.ttf</string>
		<string>Raleway-Black.ttf</string>
	</array>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<string>NO</string>
	<key>BaseURL</key>
	<string>$(BASE_URL)</string>
</dict>
</plist>
