#### iOS ####

### macOS ###

.DS_Store

### Xcode ###

DerivedData/
xcuserdata/
xcshareddata/
*.xcworkspace
*.hmap

# App Packaging
*.ipa
*.dSYM.zip
*.dSYM

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
# .build/
# .swiftpm/
# Packages/
# Package.pins
# Package.resolved

# CocoaPods
Pods/
# Podfile.lock

# Carthage
# Carthage/
# Carthage/Build/

# Accio
# Dependencies/
# .accio/

# fastlane
# fastlane/report.xml
# fastlane/Preview.html
# fastlane/screenshots/**/*.png
# fastlane/test_output

# Code Injection
# iOSInjectionProject/

# Logs & Crash Reports
*.log
*.crash

# Env Files
.env
.env.*

### Firebase ###

.idea
**/node_modules/*
# **/.firebaserc

# Firebase Patch #
# .runtimeconfig.json
.firebase/
